.flexContainerStyle {
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

.flexItemsStyle {
  /*width: 400px;*/
  min-width: 200px;
  max-width: 400px;
  width: 100%;

  background-color: white;
  overflow: hidden;
  margin: 20px;
  border: 20px solid lightgrey;
  flex-direction: column;
}

.flexItemsStyle2 {
  border: 10px solid white;
}
.flexItemsStyle3 {
  border: 10px solid white;
}
.flexItemsStyle4 {
  border: 10px solid white;
}

.flexImage {
  border: 20px solid white;
  display: flex;
  justify-content: center;
}
.flexItem {
  width: 100%;
  display: flex;
  font-size: 20px;
  justify-content: center;
}
.flexItem1 {
  display: flex;
  color: grey;
  font-size: 20px;
  justify-content: center;
}
.flexItem2 {
  color: grey;
  font-size: 20px;
}
.flexItem3 {
  font-size: 25px;
}
.flexItem4 {
  color: grey;
  font-size: 20px;
}
.flexItem5 {
  font-size: 25px;
}
.flexItem6 {
  color: grey;
  font-size: 20px;
}
.flexItem7 {
  font-size: 25px;
}
